name: Deploy Frontend to Staging

on:
  push:
    branches:
      - staging

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm ci

    - name: Build for staging
      run: npm run build:staging

    - name: Decode SSH Key
      run: |
        echo "${{ secrets.STAGING_KEY_BASE64 }}" | base64 -d > id_rsa
        chmod 600 id_rsa

    - name: Clean old dist folder on EC2
      run: |
        ssh -i id_rsa -o StrictHostKeyChecking=no ${{ secrets.STAGING_USER }}@${{ secrets.STAGING_HOST }} "
          rm -rf ${{ secrets.STAGING_FRONTEND_PATH }}/dist &&
          mkdir -p ${{ secrets.STAGING_FRONTEND_PATH }}/dist
        "

    - name: Upload new dist folder to EC2
      run: |
        rsync -avz -e "ssh -i id_rsa -o StrictHostKeyChecking=no" dist/ ${{ secrets.STAGING_USER }}@${{ secrets.STAGING_HOST }}:${{ secrets.STAGING_FRONTEND_PATH }}/dist/
